@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ebe7e0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Heading font */
}

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 48px;
    font-weight:700;
    text-align: center;
    padding: 15px;
}

h2 {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    font-size: 32px;
    color: #0D0D0D;
}

h3 {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 500;
    color: #0D0D0D;
}

p {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

.center{
    text-align: center;
}
/* img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
} */

div {
    min-height: 125px;
    padding: 20px;
}
/* Style all <ul> elements */
ul {
    list-style: none; /* Remove default list style */
    padding-left: 20px; /* Add padding for space between bullet and text */
  }
  
/* Style each <li> element with a star bullet */
ul:not(nav ul) li:before {
    content: "\2605"; /* Unicode character for star */
    display: inline-block;
    margin-left: -20px; /* Move the star to the left */
    padding-right: 5px; /* Add space between the star and the text */
  }
  
  /* Style <ul> elements in the section with numbers */
  .numbered {
    counter-reset: list-counter; /* Reset the counter */
  }
  
  .numbered li {
    counter-increment: list-counter; /* Increment the counter for each list item */
    list-style: none; /* Remove default list style */
  }
  
  .numbered li:before {
    content: counter(list-counter) "."; /* Display the counter with a dot */
    display: inline-block;
    margin-left: -20px; /* Move the number to the left */
  }
  
  nav {
    margin: 0;
    padding: 0;
    background-color: #c6d4e1;
}

nav ul {
    list-style: none;;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li:before {
    content: none; /* Remove the star bullet for <ul> elements inside navigation */
  }

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #0D0D0D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
    color: #44749d;
}

nav ul li a.active {
    background-color: #44749d;
    color: #fff;
    font-style: italic;
}

.content {
    padding: 20px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #44749d;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: top 0.3s ease; 
}

.skip-link:focus,
.skip-link:active {
    top: 0;
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 10px; 
  }
  
  .item {
    position: relative;
    width: 100%; 
    padding-top: 100%; 
    overflow: hidden; 
    border: 5px dashed #bdb8ad; 
}

.item img, .item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.origin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
}

.origin h3 {
    margin: 0 20px;
}

@media (prefers-reduced-motion: reduce) {
    .video-element {
        display: none;
    }
}
  

  
  
  