@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fdffe2;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Heading font */
}

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 48px;
    font-weight:700;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    color: #0D0D0D;
}

h3 {
    font-size: 24px;
    color: #0D0D0D;
}

p {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

/* img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
} */

div {
    min-height: 125px;
    padding: 20px;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #ffe1f1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #0D0D0D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
    color: #890049;
}

nav ul li a.active {
    background-color: #890049;
    color: #fff;
}

.content {
    padding: 20px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #890049;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: top 0.3s ease; 
}

.skip-link:focus,
.skip-link:active {
    top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with minimum width of 200px */
    grid-gap: 10px; /* Spacing between grid items */
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Add border for visual separation */
    aspect-ratio: 1; /* Set aspect ratio to 1:1 for squares */
  }
  
  img, video {
    max-width: 100%; /* Ensure images and videos don't exceed their container's width */
    max-height: 100%; /* Ensure images and videos don't exceed their container's height */
    object-fit: contain; /* Maintain aspect ratio and fit within container */
  }
  
  